<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">

	<include resource="logback.inc.xml" />
	
	<logger name="*" level="TRACE"/>
	
	<!-- log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>
	<logger name="jdbc.resultset" level="OFF"/>
	<logger name="jdbc.resultsettable" level="OFF"/>
	<logger name="log4jdbc.debug" level="OFF"/>
	<logger name="jdbc.audit" level="OFF"/>
	<logger name="jdbc.sqlonly" level="OFF"/>
	<logger name="jdbc.connection" level="OFF"/>
	
	<!-- druid -->
	<logger name="druid.sql.DataSource" level="INFO"/>
	<logger name="druid.sql.Connection" level="INFO"/>
	<logger name="druid.sql.Statement" level="DEBUG"/>
	<logger name="druid.sql.ResultSet" level="INFO"/>
	
	<root level="TRACE">
		<appender-ref ref="ConsoleOutputAppender" />
		<appender-ref ref="ProjectLogFileAppender" />
	</root>
	
</configuration>